/* styles/Login.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* styles/Header.module.css */

.header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Align tabs to the right */
}

.navList a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navList a:hover {
  border-bottom: 2px solid white;
}

.navItem {
  margin-right: 20px; /* Margin on the right for Create Event, Register User, Logout */
}

.home {
  margin-left: auto; /* Align Home to the right by setting left margin to 'auto' */
  margin-right: 20px; /* Add an additional 20px margin to the right of Home */
}